{% extends "parent.njk" %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
    <script>
        $(function(){

        var $hozzavalok=$('#hozzavalok');
        function ujSor(hozzavalo){
        var html=`<div class="form-group smart-ingredient">
            <div class="col-md-3">
                <input class="form-control smart-ingredient-amount" value="${hozzavalo.mennyiseg}" type="text">
            </div>
            <div class="col-md-7">
                <input class="form-control smart-ingredient-name" value="${hozzavalo.hozzavalo}" type="text">
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-danger btn-block">
                    <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                </button>
            </div>
        </div>`;

            var sor=$(html)
            sor.on('click','.btn-danger', function (){
            $(this).closest('.smart-ingredient').remove();
            });
            $hozzavalok.append(sor);
        }

        $('#add').on('click', function(){
            ujSor({
            mennyiseg:'1',
            hozzavalo:''
            });
        });


        var $description=$('#description');

        $('#form').on('submit', function(){
            var str='';
            $('.smart-ingredient').each(function(){
            var mennyiseg=$(this).find('.smart-ingredient-amount').val();
            var hozzavalo=$(this).find('.smart-ingredient-name').val();
            str+= mennyiseg + ' ' + hozzavalo+'\n';
            });  
            str+='\n';

            $description.val(str + $description.val());

        });



        var description = $description.val();
        var reszek = description.split('\n\n');
        var hozzavalok;
        if(reszek.length>1){
            hozzavalok=reszek[0];
            $description.val(reszek.slice(1).join('\n\n'));
        }else{
            hozzavalok='';
        }

        var hozzavaloSorok = hozzavalok.split('\n');
        for(var i=0;i<hozzavaloSorok.length;i++){
            var sor = hozzavaloSorok[i];
            if(sor === ''){
            continue;
            }
            var reszek=sor.split(' ');
            ujSor({
            mennyiseg:reszek[0],
            hozzavalo:reszek.slice(1).join(' ')
            });
        }
        });
        </script>
{% endblock %}

{% block content %}
<div class="row">
  <ul>
    {% for error in old('errors') %}
      <li>{{ error.message }}</li>
    {% endfor %}
  </ul>
  <form method="POST" data-toggle="validator" id="form">
    {{ csrfField }}
    <div class="form-group">
      <label for="name" class="control-label">Név</label>
      <input id="name" name="name" value="{{ old('name') }}" data-error="A név csak angol betűket és számokat tartalmazhat" />
      <div class="help-block with-errors"></div>
    </div>
    <div id="hozzavalok"></div>
    <div class="col-md-2">
        <button type="button" class="btn btn-success btn-block" id="add">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
        </button>
    </div>
    <textarea id="description" name="description">{{ old('description') }}</textarea>
    <select name="category_id">
      {% for category in categories %}
      <option value="{{ category.id }}">{{ category.name }}</option>
      {% endfor %}
    </select>
    <input type="submit"/>
  </form>
</div>
{% endblock %}